__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/

.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp

.ipynb_checkpoints/


data/raw/
data/processed/
*.dcm
*.nii
*.nii.gz
*.mhd
*.raw


models/**/*.pt
models/**/*.pth
models/**/*.onnx


outputs/
*.obj
*.stl
*.ply
*.glb


logs/
*.log

frontend/node_modules/
frontend/dist/
frontend/.env
*.tar
